@import '../../styles/colors';

.app-header {
    background: linear-gradient(60deg, #a12020, #8e24aa);
}

.app-main {
    background: linear-gradient(60deg, #ddd, #eee);
    min-height: 100vh;
}

.app-container {
    background-color: $white;
    min-height: 100vh;
}

.app-bar-spacer {
    min-height: 80px;
}
