@use '../../styles/colors';

.app-header {
    background: linear-gradient(60deg, colors.$orange-highlight, colors.$purple-highlight);
}

.app-main {
    background: linear-gradient(
        60deg,
        colors.$gray-background,
        colors.$light-gray-background
    );
    min-height: 100vh;
}

.app-container {
    background-color: colors.$white;
    min-height: 100vh;
    padding-top: 80px;
    padding-bottom: 100px;
}

.app-footer {
    background: linear-gradient(60deg, colors.$orange-highlight, colors.$purple-highlight);
}

.app-footer-container {
    background-color: rgba($color: colors.$black, $alpha: 0.4);
    min-height: 20vh;
    color: colors.$light-gray-background;
}

.MuiButton-root.example-button {
    margin-bottom: 15px;
}
